<launch>
    <node pkg="berkeley_sawyer" type="robot_recorder.py" name="robot_recorder"/>

    <include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch" ns="aux1">
          <arg name="depth_method" value="opengl" />
          <arg name="reg_method" value="cpu" />
    </include>


</launch>
